.version.eth___eos_bot_enter /* version checker */
{
	color: #0000ED;
	background-color: #574882;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2115.9633720930233px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#pu7778
{
	z-index: 2;
	width: 0.01px;
	margin-left: -100px;
}

#u7778
{
	z-index: 2;
	min-height: 53px;
	background-color: #01203A;
	padding-bottom: 9px;
}

#u7778_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
}

#u7790
{
	z-index: 3;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 98px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u7778-bw
{
	z-index: 2;
	min-height: 53px;
}

#u7789
{
	z-index: 6;
	width: 141px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 520px;
}

#u7789_states
{
	float: left;
	width: 141px;
	height: 23px;
	background: transparent url("../images/u7789_states.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u7789_states
{
	background-image: url("../images/u7789_states_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u7789:hover #u7789_states
{
	background: transparent url("../images/u7789_states-r.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u7789:hover #u7789_states
{
	background-image: url("../images/u7789_states-r_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u7794
{
	z-index: 9;
	width: 203px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 661px;
}

#u7794_states
{
	float: left;
	width: 203px;
	height: 23px;
	background: transparent url("../images/u7794_states.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u7794_states
{
	background-image: url("../images/u7794_states_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#u7794:hover #u7794_states
{
	background: transparent url("../images/u7794_states-r.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u7794:hover #u7794_states
{
	background-image: url("../images/u7794_states-r_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#u8120
{
	z-index: 100;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 1119px;
	background: transparent url("../images/u8120.png?crc=4138045278") no-repeat 0px 0px;
}

.hidpi #u8120
{
	background-image: url("../images/u8120_2x.png?crc=39289818");
	background-size: 119px 23px;
}

#u8120:hover
{
	background: transparent url("../images/u8120-r.png?crc=4138045278") no-repeat 0px 0px;
}

.hidpi #u8120:hover
{
	background-image: url("../images/u8120-r_2x.png?crc=39289818");
	background-size: 119px 23px;
}

#pu7792
{
	z-index: 11;
	width: 0.01px;
	margin-left: -100px;
}

#u7792
{
	z-index: 11;
	min-height: 2053.7500000000005px;
	background-color: #F5F5F5;
	padding-bottom: 0px;
}

#u7792_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
	padding-top: 35px;
	padding-bottom: 20px;
}

#u7798-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	left: 147px;
	position: relative;
}

#buttonu7796
{
	z-index: 12;
	width: 344px;
	height: 37px;
	border-color: #787878;
	background-color: #635BFF;
	border-radius: 5px;
	padding-bottom: 13px;
	left: 528px;
	margin-top: 35px;
	position: relative;
}

#buttonu7796:hover
{
	background-color: #141414;
	width: 344px;
	height: 37px;
	min-height: 0px;
	margin: 35px 0px 0px;
}

#buttonu7796.ButtonSelected
{
	background-color: #635BFF;
	width: 344px;
	height: 37px;
	min-height: 0px;
	margin: 35px 0px 0px;
}

#u7797
{
	z-index: 14;
	height: 23px;
	width: 284px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 34px;
	background: transparent url("../images/u7797.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #u7797
{
	background-image: url("../images/u7797_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#buttonu7796:hover #u7797
{
	background: transparent url("../images/u7797-r.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #buttonu7796:hover #u7797
{
	background-image: url("../images/u7797-r_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#u7795
{
	z-index: 16;
	width: 1200px;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding-bottom: 25px;
	left: 100px;
	margin-top: 43px;
	position: relative;
}

#pu7808-4
{
	z-index: 17;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 48px;
}

#u7808-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7784-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7805-4
{
	z-index: 21;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 341px;
}

#u7805-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7775-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7806-4
{
	z-index: 25;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 633px;
}

#u7806-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7804-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7774-4
{
	z-index: 29;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 925px;
}

#u7774-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u7788-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7786
{
	z-index: 49;
	width: 0.01px;
	left: 161px;
	margin-top: 44px;
	position: relative;
}

#u7786
{
	z-index: 49;
	width: 1036px;
	height: 436px;
	background-color: #FFFFFF;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u7777
{
	z-index: 50;
	width: 1078px;
	min-height: 442px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#pu7810
{
	z-index: 51;
	width: 0.01px;
	left: 161px;
	margin-top: 16px;
	position: relative;
}

#u7810
{
	z-index: 51;
	width: 1036px;
	height: 436px;
	background-color: #FFFFFF;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u7787
{
	z-index: 52;
	width: 1078px;
	min-height: 442px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u7776
{
	z-index: 87;
	width: 1108px;
	background-color: #FFFFFF;
	border-radius: 4px 4px 0px 0px ;
	left: 146px;
	margin-top: 56px;
	position: relative;
}

#u7779-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#pu7793-4
{
	z-index: 77;
	width: 0.01px;
	left: 100px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u7793-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
}

#u7785
{
	z-index: 81;
	width: 1108px;
	min-height: 434px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u7803
{
	z-index: 82;
	width: 1108px;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 47px;
}

#buttonu7800
{
	z-index: 83;
	width: 330px;
	height: 30px;
	border-color: #787878;
	background-color: #635BFF;
	border-radius: 5px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 388px;
}

#buttonu7800:hover
{
	background-color: #141414;
	width: 330px;
	height: 30px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
}

#buttonu7800.ButtonSelected
{
	background-color: #635BFF;
	width: 330px;
	height: 30px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
}

#u7801
{
	z-index: 85;
	height: 23px;
	width: 284px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 23px;
	background: transparent url("../images/u7801.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #u7801
{
	background-image: url("../images/u7801_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#buttonu7800:hover #u7801
{
	background: transparent url("../images/u7801-r.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #buttonu7800:hover #u7801
{
	background-image: url("../images/u7801-r_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#pu7802-4
{
	z-index: 53;
	width: 0.01px;
	left: 100px;
	margin-top: 1px;
	position: relative;
}

#u7802-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u7809-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 857px;
}

#u7783-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 921px;
}

#u7799-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 979px;
}

#u7782-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1047px;
}

#u7807-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1129px;
}

#u7792-bw
{
	z-index: 11;
	min-height: 2053.7500000000005px;
}

#u8117
{
	z-index: 97;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
	left: 641px;
	background: transparent url("../images/u8117.png?crc=4138045278") no-repeat 0px 0px;
}

.hidpi #u8117
{
	background-image: url("../images/u8117_2x.png?crc=39289818");
	background-size: 119px 23px;
}

#u8117:hover
{
	background: transparent url("../images/u8117-r.png?crc=4138045278") no-repeat 0px 0px;
}

.hidpi #u8117:hover
{
	background-image: url("../images/u8117-r_2x.png?crc=39289818");
	background-size: 119px 23px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 2116px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}

