.version.login /* version checker */
{
	color: #000002;
	background-color: #71DF08;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 820px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#pu6284
{
	z-index: 2;
	width: 0.01px;
	margin-left: -100px;
}

#u6284
{
	z-index: 2;
	min-height: 53px;
	background-color: #01203A;
	padding-bottom: 9px;
}

#u6286
{
	z-index: 6;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 122px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6284-bw
{
	z-index: 2;
	min-height: 53px;
}

#u6285
{
	z-index: 4;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 1071px;
	background: transparent url("../images/u6285.png?crc=159246191") no-repeat 0px 0px;
}

.hidpi #u6285
{
	background-image: url("../images/u6285_2x.png?crc=4053369965");
	background-size: 119px 23px;
}

#u6285:hover
{
	background: transparent url("../images/u6285-r.png?crc=159246191") no-repeat 0px 0px;
}

.hidpi #u6285:hover
{
	background-image: url("../images/u6285-r_2x.png?crc=4053369965");
	background-size: 119px 23px;
}

#u6288
{
	z-index: 9;
	height: 23px;
	width: 141px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 546px;
	background: transparent url("../images/u6288.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u6288
{
	background-image: url("../images/u6288_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u6288:hover
{
	background: transparent url("../images/u6288-r.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u6288:hover
{
	background-image: url("../images/u6288-r_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u6289
{
	z-index: 12;
	height: 23px;
	width: 203px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 687px;
	background: transparent url("../images/u6289.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u6289
{
	background-image: url("../images/u6289_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#u6289:hover
{
	background: transparent url("../images/u6289-r.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u6289:hover
{
	background-image: url("../images/u6289-r_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#buttonu6290
{
	z-index: 14;
	width: 136px;
	height: 28px;
	border-color: #787878;
	background-color: #635BFF;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1179px;
}

#buttonu6290:hover
{
	background-color: #141414;
	width: 136px;
	height: 28px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
}

#buttonu6290.ButtonSelected
{
	background-color: #635BFF;
	width: 136px;
	height: 28px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
}

#u6291
{
	z-index: 16;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
	background: transparent url("../images/u6291.png?crc=3846996727") no-repeat 0px 0px;
}

.hidpi #u6291
{
	background-image: url("../images/u6291_2x.png?crc=490159853");
	background-size: 119px 23px;
}

#buttonu6290:hover #u6291
{
	background: transparent url("../images/u6291-r.png?crc=3846996727") no-repeat 0px 0px;
}

.hidpi #buttonu6290:hover #u6291
{
	background-image: url("../images/u6291-r_2x.png?crc=490159853");
	background-size: 119px 23px;
}

#u6309
{
	z-index: 18;
	min-height: 562px;
	background-color: #FFFFFF;
	padding-bottom: 197px;
}

#u6284_align_to_page,#u6309_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
}

#u6312
{
	z-index: 19;
	width: 366px;
	background-color: #F5F5F5;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 561px;
}

#u6312_position_content
{
	padding-bottom: 33px;
	width: 100%;
}

#u6315
{
	z-index: 20;
	width: 366px;
	height: 2px;
	background-color: #01203A;
	border-radius: 3px;
	position: relative;
}

#u6327-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u6340-4
{
	z-index: 31;
	width: 167px;
	min-height: 21px;
	background-color: transparent;
	color: #7F7F7F;
	margin-left: 25px;
	margin-top: 19px;
	position: relative;
}

#u6334
{
	z-index: 29;
	width: 316px;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin-left: 25px;
	position: relative;
}

#u6330
{
	z-index: 30;
	width: 295px;
	min-height: 43px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#u6345-4
{
	z-index: 37;
	width: 167px;
	min-height: 21px;
	background-color: transparent;
	color: #7F7F7F;
	margin-left: 25px;
	margin-top: 11px;
	position: relative;
}

#u6343
{
	z-index: 35;
	width: 316px;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin-left: 25px;
	position: relative;
}

#u6344
{
	z-index: 36;
	width: 295px;
	min-height: 43px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#buttonu6321
{
	z-index: 21;
	width: 339px;
	height: 32px;
	border-color: #787878;
	background-color: #635BFF;
	border-radius: 5px;
	padding-bottom: 9px;
	margin-left: 13px;
	margin-top: 21px;
	position: relative;
}

#buttonu6321:hover
{
	background-color: #141414;
	width: 339px;
	height: 32px;
	min-height: 0px;
	margin: 21px 0px 0px 13px;
}

#buttonu6321.ButtonSelected
{
	background-color: #635BFF;
	width: 339px;
	height: 32px;
	min-height: 0px;
	margin: 21px 0px 0px 13px;
}

#u6322
{
	z-index: 23;
	height: 23px;
	width: 284px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 28px;
	background: transparent url("../images/u6322.png?crc=4012708600") no-repeat 0px 0px;
}

.hidpi #u6322
{
	background-image: url("../images/u6322_2x.png?crc=4074599352");
	background-size: 284px 23px;
}

#buttonu6321:hover #u6322
{
	background: transparent url("../images/u6322-r.png?crc=4012708600") no-repeat 0px 0px;
}

.hidpi #buttonu6321:hover #u6322
{
	background-image: url("../images/u6322-r_2x.png?crc=4074599352");
	background-size: 284px 23px;
}

#pu6359
{
	z-index: 41;
	width: 0.01px;
	margin-left: 66px;
	margin-top: 21px;
}

#u6359
{
	z-index: 41;
	width: 170px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u6364
{
	z-index: 42;
	width: 170px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6369
{
	z-index: 43;
	width: 2px;
	height: 10px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 104px;
}

#u6372-4
{
	z-index: 44;
	width: 366px;
	min-height: 50px;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	font-weight: bold;
	margin-top: 2px;
	position: relative;
}

#buttonu6375
{
	z-index: 48;
	width: 339px;
	height: 32px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 9px;
	margin-left: 12px;
	margin-top: 1px;
	position: relative;
}

#buttonu6375:hover
{
	background-color: #141414;
	width: 339px;
	height: 32px;
	min-height: 0px;
	margin: 1px 0px 0px 12px;
}

#buttonu6375.ButtonSelected
{
	background-color: #FFFFFF;
	width: 339px;
	height: 32px;
	min-height: 0px;
	margin: 1px 0px 0px 12px;
}

#u6376
{
	z-index: 50;
	height: 23px;
	width: 284px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 28px;
	background: transparent url("../images/u6376.png?crc=217419758") no-repeat 0px 0px;
}

.hidpi #u6376
{
	background-image: url("../images/u6376_2x.png?crc=4195425586");
	background-size: 284px 23px;
}

#buttonu6375:hover #u6376
{
	background: transparent url("../images/u6376-r.png?crc=60580650") no-repeat 0px 0px;
}

.hidpi #buttonu6375:hover #u6376
{
	background-image: url("../images/u6376-r_2x.png?crc=230898655");
	background-size: 284px 23px;
}

#u6309-bw
{
	z-index: 18;
	min-height: 562px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 820px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}

