.version.profile_enter /* version checker */
{
	color: #0000F7;
	background-color: #7F86E6;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u6692
{
	z-index: 2;
	min-height: 53px;
	background-color: #01203A;
	padding-bottom: 9px;
}

#u6692_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
}

#u6694
{
	z-index: 6;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 49px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6692-bw
{
	z-index: 2;
	min-height: 53px;
}

#u6693
{
	z-index: 4;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 898px;
	background: transparent url("../images/u6693.png?crc=159246191") no-repeat 0px 0px;
}

.hidpi #u6693
{
	background-image: url("../images/u6693_2x.png?crc=4053369965");
	background-size: 119px 23px;
}

#u6693:hover
{
	background: transparent url("../images/u6693-r.png?crc=159246191") no-repeat 0px 0px;
}

.hidpi #u6693:hover
{
	background-image: url("../images/u6693-r_2x.png?crc=4053369965");
	background-size: 119px 23px;
}

#u6696
{
	z-index: 9;
	height: 23px;
	width: 141px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 373px;
	background: transparent url("../images/u6696.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u6696
{
	background-image: url("../images/u6696_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u6696:hover
{
	background: transparent url("../images/u6696-r.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u6696:hover
{
	background-image: url("../images/u6696-r_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u6697
{
	z-index: 12;
	height: 23px;
	width: 203px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 514px;
	background: transparent url("../images/u6697.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u6697
{
	background-image: url("../images/u6697_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#u6697:hover
{
	background: transparent url("../images/u6697-r.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u6697:hover
{
	background-image: url("../images/u6697-r_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#buttonu6698
{
	z-index: 14;
	width: 136px;
	height: 28px;
	border-color: #787878;
	background-color: #635BFF;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1006px;
}

#buttonu6698:hover
{
	background-color: #141414;
	width: 136px;
	height: 28px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
}

#buttonu6698.ButtonSelected
{
	background-color: #635BFF;
	width: 136px;
	height: 28px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
}

#u6699
{
	z-index: 16;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
	background: transparent url("../images/u6699.png?crc=3846996727") no-repeat 0px 0px;
}

.hidpi #u6699
{
	background-image: url("../images/u6699_2x.png?crc=490159853");
	background-size: 119px 23px;
}

#buttonu6698:hover #u6699
{
	background: transparent url("../images/u6699-r.png?crc=3846996727") no-repeat 0px 0px;
}

.hidpi #buttonu6698:hover #u6699
{
	background-image: url("../images/u6699-r_2x.png?crc=490159853");
	background-size: 119px 23px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 569px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}


