.version.eth_bot_enter /* version checker */
{
	color: #0000FA;
	background-color: #7B633B;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2115.9633720930233px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#pu7692
{
	z-index: 2;
	width: 0.01px;
	margin-left: -100px;
}

#u7692
{
	z-index: 2;
	min-height: 53px;
	background-color: #01203A;
	padding-bottom: 9px;
}

#u7692_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
}

#u7669
{
	z-index: 3;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 98px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u7692-bw
{
	z-index: 2;
	min-height: 53px;
}

#u7684
{
	z-index: 6;
	width: 141px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 520px;
}

#u7684_states
{
	float: left;
	width: 141px;
	height: 23px;
	background: transparent url("../images/u7684_states.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u7684_states
{
	background-image: url("../images/u7684_states_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u7684:hover #u7684_states
{
	background: transparent url("../images/u7684_states-r.png?crc=221404226") no-repeat 0px 0px;
}

.hidpi #u7684:hover #u7684_states
{
	background-image: url("../images/u7684_states-r_2x.png?crc=3793999858");
	background-size: 141px 23px;
}

#u7695
{
	z-index: 9;
	width: 203px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 661px;
}

#u7695_states
{
	float: left;
	width: 203px;
	height: 23px;
	background: transparent url("../images/u7695_states.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u7695_states
{
	background-image: url("../images/u7695_states_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#u7695:hover #u7695_states
{
	background: transparent url("../images/u7695_states-r.png?crc=3821624089") no-repeat 0px 0px;
}

.hidpi #u7695:hover #u7695_states
{
	background-image: url("../images/u7695_states-r_2x.png?crc=464504365");
	background-size: 203px 23px;
}

#u8123
{
	z-index: 99;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 1119px;
	background: transparent url("../images/u8123.png?crc=4138045278") no-repeat 0px 0px;
}

.hidpi #u8123
{
	background-image: url("../images/u8123_2x.png?crc=39289818");
	background-size: 119px 23px;
}

#u8123:hover
{
	background: transparent url("../images/u8123-r.png?crc=4138045278") no-repeat 0px 0px;
}

.hidpi #u8123:hover
{
	background-image: url("../images/u8123-r_2x.png?crc=39289818");
	background-size: 119px 23px;
}

#u7681
{
	z-index: 11;
	min-height: 2054px;
	background-color: #F5F5F5;
}

#u7681_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
	left: -100px;
	padding-top: 34px;
	padding-bottom: 20px;
}

#pu7687-4
{
	z-index: 12;
	width: 0.01px;
	left: 141px;
	position: relative;
}

#u7687-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u7661
{
	z-index: 16;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 680px;
}

#buttonu7675
{
	z-index: 18;
	width: 344px;
	height: 37px;
	border-color: #787878;
	background-color: #635BFF;
	border-radius: 5px;
	padding-bottom: 13px;
	left: 528px;
	margin-top: 36px;
	position: relative;
}

#buttonu7675:hover
{
	background-color: #141414;
	width: 344px;
	height: 37px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#buttonu7675.ButtonSelected
{
	background-color: #635BFF;
	width: 344px;
	height: 37px;
	min-height: 0px;
	margin: 36px 0px 0px;
}

#u7676
{
	z-index: 20;
	height: 23px;
	width: 284px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 34px;
	background: transparent url("../images/u7676.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #u7676
{
	background-image: url("../images/u7676_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#buttonu7675:hover #u7676
{
	background: transparent url("../images/u7676-r.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #buttonu7675:hover #u7676
{
	background-image: url("../images/u7676-r_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#u7672
{
	z-index: 22;
	width: 1200px;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding-bottom: 25px;
	left: 100px;
	margin-top: 43px;
	position: relative;
}

#pu7673-4
{
	z-index: 23;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 48px;
}

#u7673-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7668-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7680-4
{
	z-index: 27;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 341px;
}

#u7680-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7694-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7690-4
{
	z-index: 31;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 633px;
}

#u7690-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7664-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7699-4
{
	z-index: 35;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 925px;
}

#u7699-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u7691-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#pu7700
{
	z-index: 55;
	width: 0.01px;
	left: 161px;
	margin-top: 43px;
	position: relative;
}

#u7700
{
	z-index: 55;
	width: 1036px;
	height: 436px;
	background-color: #FFFFFF;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u7682
{
	z-index: 56;
	width: 1078px;
	min-height: 442px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#pu7679
{
	z-index: 57;
	width: 0.01px;
	left: 161px;
	margin-top: 17px;
	position: relative;
}

#u7679
{
	z-index: 57;
	width: 1036px;
	height: 436px;
	background-color: #FFFFFF;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u7689
{
	z-index: 58;
	width: 1078px;
	min-height: 442px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u7696
{
	z-index: 93;
	width: 1108px;
	background-color: #FFFFFF;
	border-radius: 4px 4px 0px 0px ;
	left: 146px;
	margin-top: 56px;
	position: relative;
}

#u7677-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#pu7688-4
{
	z-index: 83;
	width: 0.01px;
	left: 100px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u7688-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
}

#u7698
{
	z-index: 87;
	width: 1108px;
	min-height: 434px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u7671
{
	z-index: 88;
	width: 1108px;
	background-color: #FFFFFF;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 47px;
}

#buttonu7685
{
	z-index: 89;
	width: 330px;
	height: 30px;
	border-color: #787878;
	background-color: #635BFF;
	border-radius: 5px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 388px;
}

#buttonu7685:hover
{
	background-color: #141414;
	width: 330px;
	height: 30px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
}

#buttonu7685.ButtonSelected
{
	background-color: #635BFF;
	width: 330px;
	height: 30px;
	min-height: 0px;
	margin: 33px -10000px 0px 0px;
}

#u7686
{
	z-index: 91;
	height: 23px;
	width: 284px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 23px;
	background: transparent url("../images/u7686.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #u7686
{
	background-image: url("../images/u7686_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#buttonu7685:hover #u7686
{
	background: transparent url("../images/u7686-r.png?crc=531944814") no-repeat 0px 0px;
}

.hidpi #buttonu7685:hover #u7686
{
	background-image: url("../images/u7686-r_2x.png?crc=4174313757");
	background-size: 284px 23px;
}

#pu7667-4
{
	z-index: 59;
	width: 0.01px;
	left: 100px;
	margin-top: 1px;
	position: relative;
}

#u7667-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u7678-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 857px;
}

#u7683-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 921px;
}

#u7693-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 979px;
}

#u7663-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1047px;
}

#u7674-4
{
	z-index: 79;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1129px;
}

#u7681-bw
{
	z-index: 11;
	min-height: 2054px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 2116px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1200px;
}

